@using Microsoft.AspNetCore.Components.Web

@namespace BrownOrchid.Gateways.App.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700&amp;display=swap">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="/assets/css/Login-Form-Basic.css">
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="/assets/js/grayscale.js"></script>
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/fonts/simple-line-icons.min.css">
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered"/>
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="77" style="--bs-primary: #3f1f71;--bs-primary-rgb: 63,31,113;">
<nav class="navbar navbar-light navbar-expand-md" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="#" style="position: absolute"></a>
        <button data-bs-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-bs-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <a href="/">
                <img class="img-fluid" data-aos="fade-up" data-aos-duration="1000" src="/assets/img/logo.png" style="width: 166px;">
            </a>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item nav-link">
                    <a class="nav-link" data-aos="fade-up" data-aos-duration="1000" href="/dealer/login">Dealer</a>
                </li>
                <li class="nav-item nav-link">
                    <a class="nav-link" data-aos="fade-up" data-aos-duration="1000" href="/employee/login">Employee</a>
                </li>
                <li class="nav-item nav-link">
                    <a class="nav-link" data-aos="fade-up" data-aos-duration="1000" href="/client/login">Client</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
@RenderBody()
<footer>
    <div class="container text-center">
        <p>Copyright © BrownOrchid 2022</p>
    </div>
</footer>

</body>

</html>